#main-navbar {
  background-color: blue;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#main-navbar li {
  display: inline-block;
  margin-right: 20px;
}

#main-navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#navbar-container {
  text-align: center;
  padding: 10px 20px;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: red;
}

#sidebar-container {
  padding: 15px 0;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sidebar li {
  text-align: center;
  margin-bottom: 10px;
}

#sidebar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
